*{
   position: static;
   scroll-behavior: smooth;
   
}
#navitem1{
    float: left;

}
#myVideo {
    background-attachment: fixed;
    margin-left: -15px;
    margin-right: -25px;
    max-width: 100%;
    max-height: auto;
    width: 1522px;
  }
  #input{
   padding-right: 500px;
   border-radius: 5px;
   margin-right: 100px;
   margin-top: 5px;
   border: none;

  }
 .carousel-inner{
    margin-top: 300px;
    border-radius: 5px;

 }
 #container1{
   
    margin-top: 300px;
 }
#bottom{
   padding: 5px;
}

